* {
  font-family: "Roboto", sans-serif;
}

.calculator {
  width: 300px;
  margin: 100px auto;
  padding: 16px;
  border: 2px solid grey;
  background-color: #ffc100;
  border-radius: 10px;
}

.screen {
  height: 72px;
  background-color: white;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  font-size: 42px;
  padding: 10px;
}

.screen-content {
  color: black;
  padding: 10px;
  margin-left: auto;
}

.calculator-button {
  color: black;
  padding: 16px;
  font-size: 32px;
}

.buttons-container {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
}

.first-num-placeholder {
  font-size: 28px;
  width: 120px;
  height: 50px;
  padding: 10px;
  margin-bottom: auto;
  /* background-color: red; */
}
